<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../../dtd/mybatis-3-mapper.dtd">

<!-- 이 xml 파일은 namespace에 지정한 mapper인터페에스와 연동! -->
<mapper namespace="com.example.demo.dao.employees.DepartmentsDAO">

	<select id="getAllDepartments" resultType="com.example.demo.dto.Departments">
		SELECT *
		FROM departments
		ORDER BY dept_no ASC;
	</select>
	
	<insert id="insertDepartment" parameterType="com.example.demo.dto.Departments">
		INSERT INTO departments
		(
		    dept_no,
    		dept_name
		)
		VALUES
		(
			#{dept_no},
			#{dept_name}
		)
	</insert>

</mapper>