<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../../dtd/mybatis-3-mapper.dtd">
<!-- http://mybatis.org/dtd/mybatis-3-mapper.dtd  -->

<!-- 이 xml 파일은 namespace에 지정한 mapper인터페에스와 연동! -->
<mapper namespace="com.example.demo.dao.employees.EmployeesDAO">

	<select id="getEmployeesPageList" resultType="com.example.demo.dto.Employees">
		SELECT *
		FROM employees
		limit #{limit} offset #{offset}
	</select>
	
	<select id="getEmployeesRowCnt">
		SELECT count(*)
		FROM employees
		WHERE emp_no like '1000%'
	</select>
	
	<select id="getEmployeeById" resultType="com.example.demo.dto.Employees">
		SELECT *
		FROM employees
		WHERE emp_no = #{id}
	</select>


	<select id="getEmployee" resultType="com.example.demo.dto.Employees">
		SELECT *
		FROM employees
		<where>
			<if test = "emp_no != null and emp_no != '' ">
				AND emp_no = #{emp_no}
			</if>
			<if test = "first_name != null and first_name != '' ">
				AND first_name = #{first_name}
			</if>
		</where>
	</select>
	
	
	<update id = "updateFirstName" parameterType = "com.example.demo.dto.Employees">
		UPDATE employees
		<set>
			<if test = "first_name != null">
				first_name = #{first_name},
			</if>
			<if test = "last_name != null">
				last_name = #{last_name},
			</if>
		</set>
		WHERE emp_no = #{emp_no}
	</update>
	
</mapper>