<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Dashboard</title>
	</head>
	
	<body>		
		
		
		<h3>로그인 성공!</h3>
		<hr>
		
				
		<!-- <div th:if="${result==1}">true</div> -->
		
		<!-- 타임리프가 객체를 사용하는 두번쨰 방법 -->
		<div th:unless="${user == null}">
			<th:block th:object = "${user}">
				user_id : <span th:text="*{user_id}"></span><br>
				login_id : <span th:text="*{login_id}"></span><br>
				login_password : <span th:text="*{login_password}"></span><br>
				user_name : <span th:text="*{user_name}"></span><br>
				phone_number : <span th:text="*{phone_number}"></span><br>
				address : <span th:text="*{address}"></span><br>
			</th:block>			
		</div>
		
		<div th:if="${user == null}">
			로그인 실패!!!!!!!!!!!!
		</div>
		
		
		
		
		
		
		
		
	</body>


</html>