<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
	
		<meta charset="UTF-8">
		<title>Employees Table</title>
		
		
		<!-- Icon Font Stylesheet -->
	    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
	    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
	
	    <!-- Libraries Stylesheet -->
	    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
	    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
	
	    <!-- Customized Bootstrap Stylesheet -->
	    <link href="css/bootstrap.min.css" rel="stylesheet">
	
	    <!-- Template Stylesheet -->
	    <link href="css/style.css" rel="stylesheet">
		
		

	</head>


	
	<body>
		
		<th:block th:insert="~{fragments_sidebar::sidebar}"></th:block>
		<div class="content">
		<div class="bg-secondary rounded h-100 p-4">
			<h3 class="mb-4">Employees DB INFO</h3>
			
			<div class="bg-secondary rounded h-100 p-4">
				<table class="table">
				
					<thead>
						
						<tr>
							<th scope="col">#</th>
							<th scope="col">birth_date</th>
							<th scope="col">first_name</th>
							<th scope="col">last_name</th>
							<th scope="col">gender</th>
							<th scope="col">hire_date</th>
						</tr>
						
					</thead>	
				
					<tbody>
					
						<tr th:each="employee:${employees}">
							<td scope="row" th:text="${employee.emp_no}"></td>
							<td scope="row" th:text="${employee.birth_date}"></td>
							<td scope="row" th:text="${employee.first_name}"></td>
							<td scope="row" th:text="${employee.last_name}"></td>
							<td scope="row" th:text="${employee.gender}"></td>
							<td scope="row" th:text="${employee.hire_date}"></td>
						</tr>
					
					</tbody>
				
				</table>	
			</div>
		</div>
		</div>







	</body>
</html>